div{
    width: 80%;
    margin: auto;
    display: flex;
     padding: 10px; 
}
.top {
    /* border: 3px solid rgba(226, 167, 56, 0.99); */
    width: 98%;
    height: auto;
    display: grid;
}
.center {
    margin: auto;
    width: 20%;
    padding: 10px;
    text-align: center;
    border: 3px solid rgba(56, 130, 226, 0.99);
    font-size: medium;
    font-family: -webkit-pictograph;
}
.dashboard {
    margin: auto;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    border: 3px solid #2b8ce2;
    display: block;
    background-color: rgba(119, 127, 136, 0.99);
    color: #ffb500;
    font-weight: bolder;
}

span::before { 
    content: ' \25BD';
    font-size: medium;
    position: relative;
    top: 0px;
    margin-right: 2px;
    color: rgb(60, 115, 226);
    font-weight: bolder
}
button span:hover {
transform: rotate(180deg);
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
/* transform-origin: center;
-moz-transform-origin: center;
-webkit-transform-origin: center; */

transition: transform 1.5s ease all;
-moz-transition: -moz-transform 1.5s ease all;
-webkit-transition: -webkit-transform 1.5s ease all;
}
